.camel{
	background: linear-gradient(-45deg, #f2df09,#4d2c02  ,#f8e50a ,#85da25 );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
    background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.camel .carre_tangram {
  height: 500px;
  width: 500px;
}

.camel .carre {
  transform: rotate(45deg);
  left: 134px;
  top: 162px;
}

.camel .triangle_un {
  transform: rotate(45deg);
  left: 272px;
  top: 251px;
}

.camel .triangle_deux {
  transform: rotate(-180deg);
  top: 0px;
  left: -31px;
}

.camel .triangle_trois {
  transform: rotate(0);
  left: -158px;
  top: 0px;
}

.camel .triangle_quatre {
  transform: rotate(-45deg);
  bottom: -214px;
  right: -107px;
}

.camel .triangle_cinq {
  transform: rotate(0deg);
  left: 93px;
  top: 250px;
}

.camel .parallelogramme {
  top: 250px;
  left: -93px;
  transform: rotate(-90deg) skew(-45deg);
}
