.cat .triangle_un{
    left:-12px;
    top:320px;
    transform: rotate(-45deg);
}
.cat .carre{
    left:-100px;
    top:180px;
    transform: rotate(45deg);

}
.cat .triangle_trois{
    left:-74px;
    top:81px;
    transform: rotate(90deg);

}
.cat .triangle_cinq{
    left:113px;
    top:267px;
    transform: rotate(0deg);

}
.cat .triangle_quatre{
    left:149px;
    top:529px;
    transform: rotate(45deg);

}
.cat .parallelogramme{
    left: 434px;
    top: 808px;
    transform: rotate(20deg) skew(-45deg);

}
.cat .triangle_deux{
    left:-136px;
    top:18px;
    transform: rotate(0deg);
}