.fish{

	background: linear-gradient(-45deg, #492fdc, #2baaca ,#665587, #664cba);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100%;
    background-repeat: no-repeat;}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.fish .carre_tangram
{
    height: 500px;
    width: auto;
}

.fish .carre {
    transform: rotate(0);
    left: -36px;
    top: 250px;
}

.fish .triangle_un {
    transform: rotate(-45deg);
    left: 193px;
    top: 302px;
}

.fish .triangle_deux {
    transform: rotate(225deg);
    top: 346px;
    left: -55px;
}

.fish .triangle_trois {
    transform: rotate(45deg);
    left: -117px;
    top: 143px;
    
}

.fish .triangle_quatre {
    transform: rotate(-45deg);
    bottom: -177px;
    right: 0px;
}

.fish .triangle_cinq {
    transform: rotate(45deg);
}

.fish .parallelogramme {
    top: 188px;
    left: 105px;
    transform: rotate(-45deg) skew(-45deg);
}