body#nightMode
{
    color: #fff;
    background-color: #333333;
}

#nightMode h1
{
    color:#fff;
}

#nightMode button
{
    transition: 0.2s;
}

#nightMode .centre button
{
    background-color: #fff;
    color: #333;
}

#nightMode button:hover
{
    background-color: #333;
    color:#fff;
}

#nightMode .night_mode button
{
    background-color: #fff;
    height:50px;
    width:50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20px;
    right:20px;
    z-index:99;
}

#nightMode .night_mode button:hover
{
    background-color: #333;
}

#nightMode .liste button:hover
{
    background-color: #333;
    color:#fff;
    outline: solid #fff;
}

#nightMode .btn_carre button:hover
{
    color: #3399ff;
    outline: solid #3399ff;
}

#nightMode .night_mode button:hover i
{
    background-color: #333;
    color: #333333;
}

#nightMode .night_mode button i
{
    background-color: #fff;
    color: #333333;
}

#nightMode .night_mode button:hover i
{
    color:#3399ff;
}

@media screen and (max-width: 1000px )

{
    #nightMode .night_mode button
    {
        background-color: #333;
        height:50px;
        width:50px;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: -75px;
        z-index:99;
        opacity:80%;
    }
}