.reset {
	background: linear-gradient(-45deg, #393d3c, #473b38,#d4dcda , #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.reset .carre_tangram
{
    height: 500px;
    width: auto;
    margin-top: 138px;
}

.reset .carre {
    top: -71px;
    left: -253px;
}

.reset .triangle_un {
    left: 168px;
    top: -83px;
}

.reset .triangle_deux {
    top: -92px;
    left: -437px;
}

.reset .triangle_trois {
    left: -117px;
    top: 143px;
    
}

.reset .triangle_quatre {
    bottom: -177px;
    right: 0px;
}

.reset .triangle_cinq {
    transform: rotate(45deg);
    top: 20px;
    left: 200px;
}

.reset .parallelogramme {
    top: 188px;
    left: -398px;
    transform: skew(-45deg);
}


