.swan {
	background: linear-gradient(-45deg, #601bea, #ab42e4 ,#ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
    background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.swan .carre_tangram
{  
    bottom: 100px;
}

.swan .triangle_un
{
    top: 475px;
    left: -34px;
    transform:rotate(315deg);
}

.swan .triangle_deux
{
    transform:rotate(45deg);
    top: -18px;
    left: -57px;
}

.swan .triangle_trois
{
    transform:rotate(270deg);
    top: 408px;
    left: -146px;
    z-index:1;
}

.swan .triangle_quatre
{
    transform: rotate(135deg);
    bottom: -438px;
    z-index: 1;
    right: 192px;
}

.swan .triangle_cinq
{   
    transform: rotate(90deg);
    bottom: -402px;
    left: 328px;
}

.swan .carre
{
    top:260px;
    left:-40px;
}

.swan .parallelogramme
{
    transform: rotate(270deg) skew(-45deg);
    top:99px;
    left:-10px;
}